<div class="row">
  <div
    class="ml-0 mr-auto rotate px-3"
    routerLink="/About"
    style="cursor: pointer"
  >
    <h1 class="text-white" style="padding: 5px">
      D<span style="color: rgb(42, 233, 223)">P</span>G
    </h1>
  </div>
  <div class="btn-toolbar justify-content-between ml-auto px-3">
    <div class="btn-group">
      <button routerLink="/about" class="text-white fancyFont btn pb-5">
        About Me
      </button>
      <button routerLink="/experience" class="text-white fancyFont btn pt-5">
        Experience
      </button>
      <button routerLink="/projects" class="text-white fancyFont btn pb-5">
        Projects
      </button>
      <button routerLink="/contact" class="text-white fancyFont btn pt-5">
        Contact
      </button>
    </div>
    <div class="rotate btn-group">
      <button
        type="button"
        style="border: 2px solid rgb(42, 233, 223)"
        class="text-white fancyFont btn float-right"
      >
        <a href="../../../assets/facePic.jpg" download="Resume"> Resume </a>
      </button>
    </div>
  </div>
</div>
