<div class="divBody" style="color: #ffffff">
  <h1 class="text-center logo mb-5" style="padding: 0px; margin: 0px">
    Experiences
  </h1>
  <div class="mb-5 text-center">
    <div>
      <h3>Industry Experience</h3>
      <div class="text-primary mb-5">
        <ul>
          <strong>Australia Post</strong> - Developer
        </ul>
        <li>July 2023 - Present</li>
      </div>
      <div class="text-primary mb-5">
        <ul>
          <strong>Junior Developer</strong> - Asta
        </ul>
        <li>August 2021 - July 2023</li>
      </div>
    </div>
    <div>
      <h3>Personal Experiences</h3>
      <div class="text-primary mb-5">
        <ul>
          Portfolio Website
        </ul>
        <li>2022 - present</li>
      </div>
    </div>
    <div>
      <h3>Academics</h3>
      <div class="text-primary mb-5">
        <ul>
          Swinburne Univertsity - Bachalor of Professinal Computer Science
        </ul>
        <li>2020 - present</li>
      </div>
      <div class="text-primary mb-5">
        <ul>
          Azure Fundamentals
        </ul>
        <li>2022</li>
      </div>
      <div class="text-primary mb-5">
        <ul>
          Emmanuel College VCE
        </ul>
        <li>2018 - 2019</li>
      </div>
    </div>
  </div>
</div>