<div class="divBody">
  <h1
    class="text-center text-white logo mb-5"
    style="padding: 0px; margin: 0px"
  >
    Projects
  </h1>
  <div class="mb-5 text-center">
    <div>
      <h3 class="text-white">Fidira GiftCard Domain</h3>
      <div class="text-primary mb-5">
        <ul>
          Developing a system where customers can buy fiat giftcards, then swap
          the fiat into crptocurrency, system also includes various other
          functions.
          <strong>(2021 - present)</strong>
        </ul>
        <p class="text-primary">
          <a target="_blank" href="https://fidira.io/">Fidira.io</a>
        </p>
        <!-- <p>
          <a>Git: www.testwebsite.com</a>
        </p> -->
        <label class="text-white">Technologies:</label>
        <table class="table table-dark">
          <thead>
            <tr>
              <th scope="col">Frontend</th>
              <th scope="col">Backend</th>
              <th scope="col">Cloud</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Angular</td>
              <td>Node.js</td>
              <td>AWS</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div>
      <h3 class="text-white">Fidira Puzzle</h3>
      <div class="text-primary mb-5">
        <ul>
          Built a fully working dApp within a week for a NFT puzzle competition.
          <strong>(2021)</strong>
        </ul>
        <p class="text-primary">
          <a target="_blank" href="https://puzzle.fidira.io/">Fidira.io</a>
        </p>
        <label class="text-white">Technologies:</label>
        <table class="table table-dark">
          <thead>
            <tr>
              <th scope="col">Frontend</th>
              <th scope="col">Backend</th>
              <th scope="col">Cloud</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Angular</td>
              <td>Node.js</td>
              <td>AWS</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div>
      <h3 class="text-white">CoinPoker Web Domain</h3>
      <div class="text-primary mb-5">
        <ul>
          Developed a web portal for user to deposit, withdraw and play the
          Coinpoker Gamer.
          <strong>(2021)</strong>
        </ul>
        <p>
          <a>Link: NA</a>
        </p>
        <label class="text-white">Technologies:</label>
        <table class="table table-dark">
          <thead>
            <tr>
              <th scope="col">Frontend</th>
              <th scope="col">Backend</th>
              <th scope="col">Cloud</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Angular</td>
              <td>NA</td>
              <td>AZURE</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
