<div class="divBody text-center" style="color: #ffffff">
  <h1 class="text-center logo mb-5">About Me</h1>
  <div class="mb-3">
    <img src="../../../assets/facePic.jpg" />
    <h5 class="pl-3 text-primary mt-auto">
      Hi, my name is
      <h1 class="text-white">Darcy Giblin.</h1>
    </h5>
  </div>
  <p class="text-primary">
    I'm a full stack developer with a wide range of knowledg within the
    following languages and frameworks Node.js, Angular, Dotnet and React.
  </p>
  <p class="text-primary">
    While I have a strong graps and understanding of various Technologies, I
    also have strong people skills and believe through my career I have already
    developed a strong ability to effectively communicate and work with
    stakeholders and my co-workers
  </p>
  <p class="text-primary">
    To top of my skills, I also have knowledge within the cloud space, utilizing
    both Azure and AWS throughout my various projects and work places.
  </p>
  <p class="text-primary">
    I'm currently focusing on growing my knowledge within the software
    development area of I.T.
  </p>
</div>
